<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1, p {
            text-align: center;
        }
        table {
            padding: 50px;
            margin: 0 auto;
        }
        td {
            background-color: antiquewhite;
            padding: 50px;
        }
        td:hover {
            background-color: aqua;
        }
        a:hover {
            color: red;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Thank you for the Logging!</h1>
    <table>
        <tr>
            <td onclick="act('/display/dynamic_table')"><p>Dynamic table</p></td>
            <td onclick="act('/display/cucku_cube')"><p>Cucku Cube</p></td>
            <td onclick="act('/display/tic_tac_toe')"><p>Tic Tac Toe</p></td>
            <td onclick="act('/display/js_exec')"><p>JavaScript Events</p></td>
        </tr>
        <tr>
            <td colspan="4" onclick="clk()">
                <p>JavaScript Exersice</p>
                <p style="display: none;" id="hide">
                    <a href="/js_exec/saperate_VowCons?str=Manil" target="_blank">Saperate Vowels & Consonents</a>&nbsp;&nbsp;&nbsp;
                    <a href="/js_exec/saperate_OddEven?arr=1,8,56,4,2,3" target="_blank">Saperate Odd & Even</a>&nbsp;&nbsp;&nbsp;
                    <a href="/js_exec/groupBy" target="_blank">Grouping With Obj Key</a>&nbsp;&nbsp;&nbsp;
                    <a href="/js_exec/factorial?n=6" target="_blank">Fectorial</a>&nbsp;&nbsp;&nbsp;
                    <a href="/js_exec/vovInStr?arr=Manil,Shah" target="_blank">Vowel Count Of Every String</a>&nbsp;&nbsp;&nbsp;
                    <a href="/js_exec/longestStr_count?arr=Manil,Shah" target="_blank">Vowel Count Of Longest String</a>&nbsp;&nbsp;&nbsp;
                    <a href="/js_exec/palindrom?str=abccba" target="_blank">Palindrom</a>&nbsp;&nbsp;&nbsp;
                    <a href="/js_exec/calc?arr=10,5,add" target="_blank">Basic Calculator</a>&nbsp;&nbsp;&nbsp;
                </p>
            </td>
        </tr>
        <tr>
            <td onclick="act('/display/calc')"><p>Basic Calculator</p></td>
            <td onclick="act('/delimeter')"><p>Delimeter Search</p></td>
            <td onclick="act('/ajaxCity')"><p>Ajax City Task</p></td>
            <td onclick="act('/showDetails')"><p>Database Sorting With Paggination</p></td>
        </tr>
        <tr>
            <td onclick="act('/userQuery')"><p>User Given Query With Paggination</p></td>
            <td onclick="act('/resultDatabase')"><p>Result Database</p></td>
            <td onclick="act('/crudUsingAjax')"><p>Crud Using Ajax</p></td>
            <td onclick="act('/attandanceDatabase')"><p>Attandance Database</p></td>
        </tr>

        <tr>
            <td onclick="act('/fetchTask')"><p>Fetch-Promise Task</p></td>
            <td onclick="act('/ehya')"><p>Ehya HTML</p></td>
            <td onclick="act('/awanHoster')"><p>AwanHoster HTML</p></td>
            <td onclick="act('/hireX')"><p>HireX HTML</p></td>
        </tr>
    </table>

    <script>
        function clk() {
            document.getElementById('hide').style.display = 'block';
        }
        function act(url) {
            window.open(`${window.location.origin}${url}`, '_blank')
        }
    </script>

</body>
</html>