<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ehya</title>
    <link rel="stylesheet" href="/css/ehya_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="main">
        <section class="sec1">
            <nav>
                <img src="/html_materials/ehya_material/Logo.svg" alt="" style="margin: 15px;">
                <ul>
                    <li><input type="button" value="Get it Now" style="font-size: 20px; padding: 3px;"></li>
                    <li>Helps</li>
                    <li>Docs</li>
                    <li>Pages</li>
                    <li>
                        <select>
                            <option selected disabled>Landings</option>
                            <option>Landing 1</option>
                            <option>Landing 2</option>
                            <option>Landing 3</option>
                        </select>
                    </li>
                    <li>Home</li>
                </ul>
            </nav>
            <div class="home">
                <div class="images">
                    <img src="/html_materials/ehya_material/Hero.png" alt="">
                </div>
                <div class="txt">
                    <h1>Make Your New Life Happier</h1>
                    <p class="home_p">
                        We work with several leading insurance companies to secure insurance coverage tailored to meet
                        your
                        needs.
                    </p>
                    <input type="button" value="Get a Consultasion" class="btn">
                </div>
            </div>
        </section>
    </section>

    <section class="main">
        <section class="sec2">
            <div style="margin-top: 10px;">
                <div class="services">
                    <p style="color: #36B37E; margin-top: 60px;">OUR SERVICES</p>
                    <p style="color: rgb(90, 113, 132); font-size: 45px; margin-top: -2px;"><b>Insurance made simple
                            you</b>
                    </p>
                    <p style="color: rgb(90, 113, 132, 0.7); font-size: 27px;">We work with several leading
                        insurance<br>companies to secure insurance coverage tailored to meet your needs.</p>
                    <div class="benifits">
                        <img src="/html_materials/ehya_material/right.png" alt="" height="60px" width="50px">
                        <p style="display: inline; color: rgb(90, 113, 132); font-size: 20px;">Flexible products to make
                            your
                            life easier</p>
                    </div>
                    <div class="benifits">
                        <img src="/html_materials/ehya_material/right.png" alt="" height="60px" width="50px">
                        <p style="display: inline; color: rgb(90, 113, 132); font-size: 20px;">Highest standards of
                            services
                        </p>
                    </div>
                    <div class="benifits_lst">
                        <img src="/html_materials/ehya_material/right.png" alt="" height="60px" width="50px">
                        <p style="display: inline; color: rgb(90, 113, 132); font-size: 20px;">Flexible products to make
                            your
                            life easier</p>
                    </div>
                </div>
                <div class="serv">
                    <div>
                        <div class="col">
                            <img src="/html_materials/ehya_material/Icon_Home.svg" alt="" height="80px" width="70px"
                                style="border:0.5px solid rgb(128, 128, 128, 0.5); border-radius: 15px; padding: 3px;">
                            <p style="color: rgb(90, 113, 132); font-size: 30px;"><b>Home Insurance</b></p>
                            <p style="color: rgb(90, 113, 132); font-size: 20px;">Home insurance is a type of insurance
                                policy
                                that
                                provides coverage for you.</p>
                            <p style="color: blue; font-size: 25px;">Learn more →</p>
                        </div>
                        <div class="col">
                            <img src="/html_materials/ehya_material/Donation.svg" alt="" height="80px" width="70px"
                                style="border:0.5px solid rgb(128, 128, 128, 0.5); border-radius: 15px; padding: 3px;">
                            <p style="color: rgb(90, 113, 132); font-size: 30px;"><b>Life Insurance</b></p>
                            <p style="color: rgb(90, 113, 132); font-size: 20px;">Helping your bridge gap in your health care coverage during times of transition.</p>
                            <p style="color: blue; font-size: 25px;">Learn more →</p>
                        </div>
                        <div class="col">
                            <img src="/html_materials/ehya_material/Icon_Car.svg" alt="" height="80px" width="70px"
                                style="border:0.5px solid rgb(128, 128, 128, 0.5); border-radius: 15px; padding: 3px;">
                            <p style="color: rgb(90, 113, 132); font-size: 30px;"><b>Car Insurance</b></p>
                            <p style="color: rgb(90, 113, 132); font-size: 20px;">Car insurance is a type of insurance policy that provides cover for your car.</p>
                            <p style="color: blue; font-size: 25px;">Learn more →</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <hr style="color: rgb(255, 255, 255, 0);">  
    <section class="main">
        <section class="sec3">
            <div class="tip_container">
                <div class="tips">
                    <p style="color: #36B37E; margin-top: 60px;">OUR TIPS FOR YOU</p>
                    <p style="color: rgb(90, 113, 132); font-size: 45px; margin-top: -2px;"><b>Reinventing your
                            protection</b></p>
                    <p style="color: rgb(90, 113, 132, 0.7); font-size: 27px;">We share common trends, strategies,
                        ideas,
                        opinions, short & long<br>stories from the team behind company.</p>
                </div>
                <div class="tip_img">
                    <div class="tip1 con">
                        <img src="/html_materials/ehya_material/Image.png" alt="" style="float: right;" height="640px" class="img_class">
                        <div class="content">
                            How to prevent and protect your family from carbon monoxide
                        </div>
                    </div>
                    <div class="tip2 con">
                        <img src="/html_materials/ehya_material/Image2.png" alt="" height="640px" width="600px" class="img_class">
                        <div class="content_right">
                            Motherhood is the hardest and the best job ever.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section class="main">
        <section class="sec4">
            <div class="DIV_SRV">
            <div class="serv">
                <div class="col2">
                    <p style="color: #36B37E; margin-top: 60px;">YOUR BENIFITS</p>
                    <p style="color: rgb(90, 113, 132); font-size: 35px; margin-top: -2px;"><b>We're your right
                            insurance
                            advocate</b></p>
                </div>
                <div class="col2">
                    <img src="/html_materials/ehya_material/Donation.svg" alt="" height="80px" width="70px"
                        style="border:0.5px solid rgb(128, 128, 128, 0.5); border-radius: 15px; padding: 3px; margin: 15px 0px 20px 0px;">
                    <p style="color: rgb(90, 113, 132); font-size: 25px; margin-top: -2px;"><b>We have the best
                            prices</b>
                    </p>
                    <p style="display: inline; color: rgb(90, 113, 132); font-size: 20px;">Our insurance plan offers are
                        priced the same everywhere else. We just make them easier for you to find.</p>
                </div>
                <div class="col2">
                    <img src="/html_materials/ehya_material/Icon_Protection.svg" alt="" height="80px" width="70px"
                        style="border:0.5px solid rgb(128, 128, 128, 0.5); border-radius: 15px; padding: 3px; margin: 15px 0px 20px 0px;">
                    <p style="color: rgb(90, 113, 132); font-size: 25px; margin-top: -2px;"><b>We're you insurance
                            advocate</b></p>
                    <p style="display: inline; color: rgb(90, 113, 132); font-size: 20px;">We will deal with the
                        insurance
                        companies for you, even after you've bought your plan.</p>
                </div>
                <div class="col2">
                    <img src="/html_materials/ehya_material/Icon_Neutron.svg" alt="" height="80px" width="70px"
                        style="border:0.5px solid rgb(128, 128, 128, 0.5); border-radius: 15px; padding: 3px; margin: 15px 0px 20px 0px;">
                    <p style="color: rgb(90, 113, 132); font-size: 25px; margin-top: -2px;"><b>We are unbiased</b></p>
                    <p style="display: inline; color: rgb(90, 113, 132); font-size: 20px;">Our online tool healps you
                        decide
                        what product is best for you. We are here to insurance plan you choose.</p>
                </div>
                <div class="col2">
                    <img src="/html_materials/ehya_material/Icon_CS.svg" alt="" height="80px" width="70px"
                        style="border:0.5px solid rgb(128, 128, 128, 0.5); border-radius: 15px; padding: 3px; margin: 15px 0px 20px 0px;">
                    <p style="color: rgb(90, 113, 132); font-size: 25px; margin-top: -2px;"><b>We're available 24/7</b>
                    </p>
                    <p style="display: inline; color: rgb(90, 113, 132); font-size: 20px;">We have your back 24/7
                        between
                        our online chat function, email and telephone support.</p>
                </div>
                <div class="col2">
                    <img src="/html_materials/ehya_material/Icon_Like.svg" alt="" height="80px" width="70px"
                        style="border:0.5px solid rgb(128, 128, 128, 0.5); border-radius: 15px; padding: 3px; margin: 15px 0px 20px 0px;">
                    <p style="color: rgb(90, 113, 132); font-size: 25px; margin-top: -2px;"><b>We make insurance
                            simple</b>
                    </p>
                    <p style="display: inline; color: rgb(90, 113, 132); font-size: 20px;">We're committed to making
                        applying for insurance as simple as can be for our customers.</p>
                </div>
            </div>
            <div class="h">
                <hr>
            </div>

            <div class="rate">
                <div class="col3">
                    <img src="/html_materials/ehya_material/Avatar.png" alt="">
                    <img src="/html_materials/ehya_material/Avatar-1.png" alt="">
                    <img src="/html_materials/ehya_material/Avatar-2.png" alt="">
                    <p><b>Friendly </b>customer support team</p>
                </div>
                <div class="col3">
                    <img src="/html_materials/ehya_material/Path.svg" alt="">
                    <p style="display: inline;">Trust pilot</p><br><br>
                    <img src="/html_materials/ehya_material/s.svg" alt="">
                    <img src="/html_materials/ehya_material/s.svg" alt="">
                    <img src="/html_materials/ehya_material/s.svg" alt="">
                    <img src="/html_materials/ehya_material/s.svg" alt="">
                    <img src="/html_materials/ehya_material/s.svg" alt=""><br>
                    <p><b>4.6 out of 5 star</b>from 8.6k reviews</p>
                </div>
                <div class="col3">
                    <img src="/html_materials/ehya_material/Icon_Like.svg" alt="" height="60px"><br>
                    <p>We're making <b>insurance as simple as </b>can be</p>
                </div>
            </div>
        </div>
        </section>
    </section>
    <hr style="color: rgb(255, 255, 255, 0);">
    <section class="main">
        <section class="sec_lst">
            <div class="foot">
                <div class="foot_l">
                    <img src="/html_materials/ehya_material/Logo_white.svg" alt="">
                    <p style="color: rgb(240, 248, 255, 0.5); margin-bottom: 40px;">
                        Build a modern & creative website<br>with crealand
                    </p>
                    <i class="fa fa-google" style="opacity: 0.4; margin-right: 5px;"></i>
                    <i class="fa fa-twitter" style="opacity: 0.4; margin-right: 5px;"></i>
                    <i class="fa fa-instagram" style="opacity: 0.4; margin-right: 5px;"></i>
                    <i class="fa fa-linkedin" style="opacity: 0.4; margin-right: 5px;"></i>
                    <i class="fa fa-youtube" style="opacity: 0.4; margin-right: 5px;"></i>
                </div>
                <div class="foot_r">
                    <p>Ready to get insured? Submit your request and hear back as soon as tomorrow.</p>
                    <input type="text" placeholder="You Email">
                    <input type="button" value="Get started" style="background-color: blue; color: white;">
                    <p style="margin-top: 60px; color: rgb(240, 248, 255, 0.5);">
                        Copyright © 2019. crafted with love.    
                    </p>
                </div>
            </div>
        </section>
    </section>
</body>

</html>