<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Data</title>
    <script>
        let sid = '<%= sid %>';
    </script>
    <script src="/fetchTask_js/allData.js"></script>
</head>
<body>
    <div id="display"></div>
    <div id="comment"></div>
</body>
</html>