<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/practical3_style.css">
    <title>HireX</title>
</head>
<body>
    <header>
        <div class="hd">
            <div class="logo_head">
                <img src="/html_materials/hireX_material/HireX_black.png" alt="">
            </div>
            <div class="nv">
                <ul>
                    <li class="det">Works</li>
                    <li class="det">About Us</li>
                    <li class="det">Blogs</li>
                    <li class="det">FAQs</li>
                    <li class="det">Contact Us</li>
                    <li class="det"><button class="hire">We're Hiring<img src="/html_materials/hireX_material/arrow-right.svg" height="14px" style="margin-left: 5px;"></button></li>
                </ul>
            </div>
        </div>
    </header>
    <section class="main">
        <section class="sec1">
            <div class="div1">
                <div class="div1_lft">
                    <div class="boom">
                        <p>WELCOME TO HIREX</p>
                        <img src="/html_materials/hireX_material/Star 1.png" alt="" style="margin-left: 20px;">
                    </div>
                    <div class="attrac">
                        <p style="font-size: 85px;"><b>Award Winning<br>Digital Agency.</b></p>
                    </div>
                    <div class="desc">
                        <p style="font-size: 30px;">Digital Agency offering unique solution to create digital presence and increase your sales.</p>
                    </div>
                    <div class="ip">
                        <div class="shad">
                            <input type="text" placeholder="Your email address" class="req">
                            <button class="orange req">Request access</button>
                        </div>
                    </div>
                </div>

                <div class="div1_right">
                    <div class="design">
                        <div class="web">
                            <img src="/html_materials/hireX_material/image 2 (Traced).png" alt="" class="web_img">
                            <div class="web_p">
                                <p><b>Web Design</b></p> 
                            </div>
                        </div>

                        <div class="soc">
                            <img src="/html_materials/hireX_material/image 6 (Traced).png" alt="" class="soc_img">
                            <div class="soc_p">
                                <p><b>Social Media</b></p> 
                            </div>
                        </div>

                        <div class="ux">
                            <div class="ux_p">
                                <p><b>UIX Design</b></p> 
                            </div>
                            <img src="/html_materials/hireX_material/image 1 (Traced).png" alt="" class="ux_img">
                        </div>

                        <div class="new">
                            <img src="/html_materials/hireX_material/Group 6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec2">
            <div class="div2">
                <div class="div2_reg">
                    <div class="cont">
                        <p>Get Access Now!</p>
                    </div>
                    <div class="img">
                        <img src="/html_materials/hireX_material/image-fBLQvAFN1-transformed 1.png" alt="">
                    </div>
                </div>

                <div class="pipe">
                    <p>|</p>
                </div>

                <div class="div2_reg">
                    <div class="cont">
                        <p>Get Access Now!</p>
                    </div>
                    <div class="img">
                        <img src="/html_materials/hireX_material/image-fBLQvAFN1-transformed 1.png" alt="">
                    </div>
                </div>

                <div class="pipe">
                    <p>|</p>
                </div>

                <div class="div2_reg">
                    <div class="cont">
                        <p>Get Access Now!</p>
                    </div>
                    <div class="img">
                        <img src="/html_materials/hireX_material/image-fBLQvAFN1-transformed 1.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="sec3">
            <div class="div3">
                <div class="serv">
                    <span class="serv_span">Services</span>
                </div>

                <div class="serv">
                    <p style="font-size: 40px;"><b>How HireX. Work</b></p>
                </div>

                <div class="serv" style="margin-top: -50px;">
                    <p style="font-size: 22px;">The awesome pepole who makes<br>all this possible</b></p>
                </div>

                <div class="serv_cards">
                    <div class="serv_card">
                        <div class="card_head">
                            <p>Start Here</p>
                        </div>
                        <div class="card_head">
                            <p style="font-size: 30px;"><b>Who we are &<br>what we do</b></p>
                        </div>
                        <div class="card_head">
                            <img src="/html_materials/hireX_material/Designer _Flatline 1.png" alt="" height="300px">
                        </div>
                        <div class="card_btn">
                            <button class="start_btn green_btn">Start Here<img src="/html_materials/hireX_material/arrow-right.svg" height="20px" style="margin-left: 5px;"></button>
                        </div>
                    </div>

                    <div class="serv_card">
                        <div class="card_head">
                            <p>Custom Design</p>
                        </div>
                        <div class="card_head">
                            <p style="font-size: 30px;"><b>We'll design<br>your projects</b></p>
                        </div>
                        <div class="card_head">
                            <img src="/html_materials/hireX_material/Notifications_Flatline 1.png" alt="" height="300px">
                        </div>
                        <div class="card_btn">
                            <button class="start_btn yellow_btn">Start Here<img src="/html_materials/hireX_material/arrow-right.svg" height="20px" style="margin-left: 5px;"></button>
                        </div>
                    </div>

                    <div class="serv_cardDiff">
                        <div class="card_head">
                            <p>CONTACT US</p>
                        </div>
                        <div class="card_head">
                            <p style="font-size: 30px;"><b>Drop us your<br>message!</b></p>
                        </div>
                        <div class="card_head">
                            <img src="/html_materials/hireX_material/Fortnite_Two Color 1.png" alt="" height="300px">
                        </div>
                        <div class="card_btn">
                            <button class="start_btn orange_btn">Start Here<img src="/html_materials/hireX_material/arrow-right.svg" height="20px" style="margin-left: 5px;"></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec4">
            <div class="div4">
                <div class="serv">
                    <span class="serv_span" style="background-color: rgb(0, 0, 255, 0.6);">Works</span>
                </div>
                <div class="serv">
                    <p style="font-size: 40px;"><b>Find our latest works</b></p>
                </div>
                <div class="serv" style="margin-top: -50px;">
                    <p style="font-size: 22px;">The awesome pepole who makes<br>all this possible</b></p>
                </div>

                <div class="img_container">
                    <div class="img_lft">
                            <img src="/html_materials/hireX_material/Rectangle 13.png" alt="" height="500px" width="500px">
                        <div class="design_r">
                            <span class="design_r_span">Web Design</span>
                        </div>
                        <div class="cont_head">
                            <p style="font-size: 25px;"><b>Website Design For Digital Agency</b></p>
                        </div>
                        <div class="cont_des">
                            <p>Build a unique Website wth HireX Template</p>
                        </div>
                        <div class="read">
                            <p><u>Read More</p></u>
                            <img src="/html_materials/hireX_material/arrow-right-black.svg" alt="" style="margin-left: 5px;">
                        </div>
                    </div>

                    <div class="img_right">
                        <div class="chart">
                            <img src="/html_materials/hireX_material/Rectangle 13-1.png" alt="" height="380px" width="430px">
                        </div>
                        <div class="design_r">
                            <span class="design_r_span">Web Design</span>
                        </div>
                        <div class="cont_head">
                            <p><b>Website Design For Digital Agency</b></p>
                        </div>
                        <div class="cont_des">
                            <p>Build a unique Website wth HireX Template</p>
                        </div>
                        <div class="read">
                            <p><u>Read More</p></u>
                            <img src="/html_materials/hireX_material/arrow-right-black.svg" alt="" style="margin-left: 5px;">
                        </div>
                        <div class="view">
                            <button class="start_btn yellow_btn" style="font-size: 35px;">View All<img src="/html_materials/hireX_material/arrow-right.svg" height="20px" style="margin-left: 5px;"></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec5">
            <div class="div5">
                <div class="serv">
                    <p style="font-size: 40px;"><b>Plan & Pricing</b></p>
                </div>
                <div class="serv" style="margin-top: -50px;">
                    <p style="font-size: 22px;">The awesome pepole who makes<br>all this possible</b></p>
                </div>

                <div class="serv_cards">
                    <div class="serv_card temp">
                        <p style="font-size: 30px;"><b>FREE</b></p>
                        <p><b><span style="font-size: 40px">$0</span></b>/Month</p>
                        <p style="color: grey; font-size: 20px;">Start free while you learn more about our service</p>
                        <hr>
                        <p style="font-size: 20px;">Free forever get the basic essentials</p>
                        <p style="font-size: 20px;">Advanced security and perfomance</p>
                        <p style="font-size: 20px;">Unlimited unhosted sites</p>
                        <p style="font-size: 20px;">Live support</p>
                        <div class="price_btn_con">
                            <button class="price_btn yellow_btn" style="font-size: 35px;">View All<img src="/html_materials/hireX_material/arrow-right.svg" height="20px" style="margin-left: 5px;"></button>
                        </div>
                    </div>

                    <div class="serv_card temp">
                        <p style="font-size: 30px;"><b>BASIC</b></p>
                        <p><b><span style="font-size: 40px">$19</span></b>/Month</p>
                        <p style="color: grey; font-size: 20px;">Get powerful tools to make your business grow</p>
                        <hr>
                        <p style="font-size: 20px;">Free forever get the basic essentials</p>
                        <p style="font-size: 20px;">Advanced security and perfomance</p>
                        <p style="font-size: 20px;">Unlimited unhosted sites</p>
                        <p style="font-size: 20px;">Live support</p>
                        <div class="price_btn_con">
                            <button class="price_btn yellow_btn" style="font-size: 35px;">View All<img src="/html_materials/hireX_material/arrow-right.svg" height="20px" style="margin-left: 5px;"></button>
                        </div>
                    </div>

                    <div class="serv_cardDiff temp">
                        <p style="font-size: 30px;"><b>PRO</b></p>
                        <p><b><span style="font-size: 40px">$99</span></b>/Month</p>
                        <p style="color: grey; font-size: 20px;">Start free while you learn more about our service</p>
                        <hr>
                        <p style="font-size: 20px;">Free forever get the basic essentials</p>
                        <p style="font-size: 20px;">Advanced security and perfomance</p>
                        <p style="font-size: 20px;">Unlimited unhosted sites</p>
                        <p style="font-size: 20px;">Live support</p>
                        <div class="price_btn_con">
                            <button class="price_btn yellow_btn" style="font-size: 35px;">View All<img src="/html_materials/hireX_material/arrow-right.svg" height="20px" style="margin-left: 5px;"></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec6">
            <div class="div6">
                <div class="lft_arrow">
                    <img src="/html_materials/hireX_material/arrow-left-2.png" alt="" onclick="sc('prev')" height="30px">
                </div>
                <div class="demo">
                    <div class="slid_con">
                        <div class="lft_slide">
                            <img src="/html_materials/hireX_material/testimonials-img.png" alt="" class="testi">
                        </div>
                        <div class="right_slide">
                            <p style="font-size: 20px;"><b>"We select to practice in Minerva since it is both useful, and our client basically adore it! It has stood the test of time and proceed".</b></p>
                            <p>Abel Carden is a TickTok personally and lip-synk content creator who has built a fanbase of more than 3.2 million followers on the Plateform</p>
                        </div>
                        <div class="ab">
                            <p>@mase.place</p>
                            <spn class="tp_arr">
                                <img src="/html_materials/hireX_material/arrow_top-right.png" alt="">
                            </spn>
                        </div>
                    </div>
                    
                    <div class="slid_con">
                        <div class="lft_slide">
                            <img src="/html_materials/hireX_material/testimonials-img.png" alt="" class="testi">
                        </div>
                        <div class="right_slide">
                            <p style="font-size: 20px;"><b>SECOND adipisicing elit. Doloribus vero perferendis voluptate quam deserunt voluptatibus ut, voluptates suscipit unde perspiciatis architecto nesciunt mollitia optio. Deserunt officiis nihil laboriosam ullam odio. Libero reprehenderit illum nobis pariatur, aspernatur soluta ullam dolorum! Veniam.</b></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minus labore beatae, deleniti ad, blanditiis unde eum autem corrupti quis culpa quae voluptates. Maxime praesentium, laudantium, beatae eligendi earum sapiente itaque, velit cupiditate temporibus reiciendis a accusantium blanditiis dolor labore?</p>
                        </div>
                    </div>

                    <div class="slid_con">
                        <div class="lft_slide">
                            <img src="/html_materials/hireX_material/testimonials-img.png" alt="" class="testi">
                        </div>
                        <div class="right_slide">
                            <p style="font-size: 20px;"><b>THIRD consectetur adipisicing elit. Doloribus vero perferendis voluptate quam deserunt voluptatibus ut, voluptates suscipit unde perspiciatis architecto nesciunt mollitia optio. Deserunt officiis nihil laboriosam ullam odio. Libero reprehenderit illum nobis pariatur, aspernatur soluta ullam dolorum! Veniam.</b></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minus labore beatae, deleniti ad, blanditiis unde eum autem corrupti quis culpa quae voluptates. Maxime praesentium, laudantium, beatae eligendi earum sapiente itaque, velit cupiditate temporibus reiciendis a accusantium blanditiis dolor labore?</p>
                        </div>
                    </div>

                    <div class="slid_con">
                        <div class="lft_slide">
                            <img src="/html_materials/hireX_material/testimonials-img.png" alt="" class="testi">
                        </div>
                        <div class="right_slide">
                            <p style="font-size: 20px;"><b>FOURTH consectetur adipisicing elit. Doloribus vero perferendis voluptate quam deserunt voluptatibus ut, voluptates suscipit unde perspiciatis architecto nesciunt mollitia optio. Deserunt officiis nihil laboriosam ullam odio. Libero reprehenderit illum nobis pariatur, aspernatur soluta ullam dolorum! Veniam.</b></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minus labore beatae, deleniti ad, blanditiis unde eum autem corrupti quis culpa quae voluptates. Maxime praesentium, laudantium, beatae eligendi earum sapiente itaque, velit cupiditate temporibus reiciendis a accusantium blanditiis dolor labore?</p>
                        </div>
                    </div>
                </div>
                <div class="right_arrow">
                    <img src="/html_materials/hireX_material/arrow-right-2.png" alt=""  onclick="sc('next')" height="30px">
                </div>
            </div>
        </section>

        <section class="sec7">
            <div class="div7">
                <div>
                    <span class="tmt">Blog</span>
                    <p style="font-size: 45px;"><b>Stay Updated</b></p>
                </div>
                <div class="update_con">
                    <div class="update_lft">
                        <img src="/html_materials/hireX_material/Rectangle 19.png" alt="" height="580px" width="100%">
                        <p><span class="up_des">Web Design</span></p>
                        <p style="font-size: 30px;"><b>We Launch Minarva Tamplate this week!</b></p>
                        <p style="color: grey; font-size: 20px;">Build a unique Website with HireX Template</p>
                        <div class="read">
                            <p><u>Read More</p>
                            <img src="/html_materials/hireX_material/arrow-right-black.svg" alt="" style="margin-left: 5px;"></u>
                        </div>
                    </div>
                    <div class="update_right">
                        <img src="/html_materials/hireX_material/Rectangle 20.png" alt="" height="580px" width="100%">
                        <p><span class="up_des">Web Design</span></p>
                        <p style="font-size: 30px;"><b>Introducing the Non-Code Webflow Guid</b></p>
                        <p style="color: grey; font-size: 20px;">Build a unique Website with HireX Template</p>
                        <div class="read">
                            <p><u>Read More</p>
                            <img src="/html_materials/hireX_material/arrow-right-black.svg" alt="" style="margin-left: 5px;"></u>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec8">
            <div class="div8">
                <div class="form_dv">
                    <p style="font-size: 40px;"><b>Get our latest news & updates</b></p>
                    <input type="text" placeholder="NAME">
                    <input type="text" placeholder="EMAIL">
                    <input type="text" placeholder="SUBSCRIBE">
                </div>
                <div class="form_con">
                    <p style="font-size: 25px;">We select to practice in Minerva since it is both useful and commonsence, and our clients basically adore it.</p>
                    <p><span class="up_des">Book a Call</span></p>
                </div>
            </div>
        </section>

        <section class="sec9">
            <div class="div9">
                <div class="div9_reg">
                        <p style="color: white; font-size: 40px;">Thank you For your Visit</p>
                </div>

                <div class="pipe">
                    <p>+</p>
                </div>

                <div class="div2_reg">
                        <p style="color: white; font-size: 40px;">Thank you For your Visit</p>
                </div>

                <div class="pipe">
                    <p>-</p>
                </div>

                <div class="div2_reg">
                        <p style="color: white; font-size: 40px;">Thank you For your Visit</p>
                </div>
            </div>
        </section>
    </section>

    <footer>
        <div class="foot">
            <p style="font-size: 50px;"><b>HireX</b></p>
            <hr>
            <div class="foot_det">
                <div class="foot_col">
                    <ul>
                        <li class="small">products</li>
                        <li class="large">Plateform</li>
                        <li class="large">Store Overview</li>
                        <li class="large">Email Report</li>
                        <li class="large">Portfolio</li>
                    </ul>
                </div>
                
                <div class="foot_col">
                    <ul>
                        <li class="small">Resource</li>
                        <li class="large">Case Study</li>
                        <li class="large">Product Guids</li>
                        <li class="large">Reports</li>
                        <li class="large">Blog</li>
                        <li class="large">FAQ</li>
                    </ul>
                </div>

                <div class="foot_col">
                    <ul>
                        <li class="small">Company</li>
                        <li class="large">Careers</li>
                        <li class="large">Contact Sale</li>
                        <li class="large">Contact Support</li>
                    </ul>
                </div>

                <div class="foot_col">
                    <ul>
                        <li class="small">Partners</li>
                        <li class="large">Partner With Us</li>
                    </ul>
                </div>
            </div>

            <div class="pol">
                <div class="con">
                    <div class="condition">
                        <a href="#"><p>Term and Condition</p></a>
                    </div>
                    <div class="policy">
                        <a href="#"><p>Privacy Policy</p></a>
                    </div>
                </div>
                <div class="copy">
                    <p>© HIREX, Inc. 2022</p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        function sc(val) {
            var row=document.getElementsByClassName("demo")[0];
            if(val=='next') {
                row.scrollLeft+=1550
            }
            else {
                row.scrollLeft-=1550
            }
        }
    </script>
</body>
</html>