<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/practical2_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/website_js/practical2_script.js"></script>
    <title>AwanHoster</title>
</head>
<body>
    <section class="main">
        <header>
            <div class="head">
                <img src="/html_materials/awanHoster_material/cloud-sunny.png" alt="cloud" height="47px" style="margin: 5px 45px;">
                <p style="display: inline; font-size: 20px;"><b style="color: #0A2259;">Awan</b>Hoster</p>
            </div>
            <div class="navigation">
                <ul>
                    <li>Hosting</li>
                    <li>Integration</li>
                    <li>Pticing</li>
                    <li>Community</li>
                    <li><button class="login">Login</button></li>
                </ul>
            </div>
        </header>

        <section class="sec1">
            <div class="div1">
                <div class="txt">
                    <p style="font-size: 90px;"><b>Hosting Services for Your Website</b></p>
                    <p style="font-size: 30px; margin-bottom: 40px;">Easily and reliably host a Website for your business, organization, or project while retainign compleate control over your site's underlying infrastructure.</p>
                    <button class="help orange">Get Started</button>
                    <button class="help">Get Migration Help</button>
                    <img src="/html_materials/awanHoster_material/arrow-down.png" alt="" class="down" height="40px">
                </div>
                <div class="full_img">
                    <img src="/html_materials/awanHoster_material/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="" height="550px" class="potrait">
                </div>
            </div>
        </section>

        <section class="sec2">
            <div class="div2">
                <div class="logo"><p>Those who have experienced the best perfomance.</p></div>
                <div class="logo"><img src="/html_materials/awanHoster_material/Telkom Indonesia Logo.png" alt="" style="margin-top: -32px;"></div>
                <div class="logo"><img src="/html_materials/awanHoster_material/Jetstar Airways Logo.png" alt=""></div>
                <div class="logo"><img src="/html_materials/awanHoster_material/Nescafe Logo.png" alt=""></div>
                <div class="logo"><img src="/html_materials/awanHoster_material/Lenovo Logo.png" alt=""></div>
            </div>
        </section>

        <section class="sec3">
            <div class="div3">
                <div class="visit_img">
                    <img src="/html_materials/awanHoster_material/Group 3552.png" alt="">
                </div>
                <div class="txt_3">
                    <div class="boost">
                        <div class="boost_txt" style="width: 100%;">
                            <p style="font-size: 60px;"><b>Boost the speed of your Website</b></p>
                        </div>
                        <div class="ben">
                            <div class="ben_con">
                                <p style="font-size: 30px;"><b>Faster Build Process</b></p>
                                <p style="color: #AAAAAA; font-size: 20px;">We can speed up the process of creating your website </p>
                            </div>
                            <div class="ben_con">
                                <p style="font-size: 30px;"><b>Faster Build Process</b></p>
                                <p style="color: #AAAAAA; font-size: 20px;">We can speed up the process of creating your website </p>
                            </div>
                            <div class="ben_con">
                                <p style="font-size: 30px;"><b>Faster Build Process</b></p>
                                <p style="color: #AAAAAA; font-size: 20px;">We can speed up the process of creating your website </p>
                            </div>
                            <div class="ben_con">
                                <p style="font-size: 30px;"><b>Faster Build Process</b></p>
                                <p style="color: #AAAAAA; font-size: 20px;">We can speed up the process of creating your website </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec4">
            <div class="price">
                <div class="price_desc">
                    <p style="color: #0A2259;">
                        <b>Host any website with our fully managed Services</b>
                    </p>
                </div>
                <div class="card_container">
                    <div class="card">
                        <div class="reg_detail">
                            <div class="reg_head">
                                <img src="/html_materials/awanHoster_material/cloud-sunny.png" alt="" style="margin: 0 20px;" height="40px">
                                <p style="font-size: 25px;"><b>Cloud Hosting</b></p>
                            </div>
                            <div class="reg_desc">
                                <p style="font-size: 18px;">Cloud holding is a good fit for those of you who are building personal websites, portfolios, blosg, and other systems</p>
                            </div>
                        </div>
                        <div class="reg_price">
                            <p style="font-size: 45px;">$5.9/month</p>
                        </div>
                        <div class="reg_btn">
                            <button class="btn orange">More Details</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="reg_detail">
                            <div class="reg_head">
                                <img src="/html_materials/awanHoster_material/cloud-sunny.png" alt="" style="margin: 0 20px;" height="40px">
                                <p style="font-size: 25px;">Cloud Hosting</p>
                            </div>
                            <div class="reg_desc">
                                <p style="font-size: 18px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, quidem!</p>
                            </div>
                        </div>
                        <div class="reg_price">
                            <p style="font-size: 45px;">$5.9/month</p>
                        </div>
                        <div class="reg_btn">
                            <button class="btn orange">More Details</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="reg_detail">
                            <div class="reg_head">
                                <img src="/html_materials/awanHoster_material/cloud-sunny.png" alt="" style="margin: 0 20px;" height="40px">
                                <p style="font-size: 25px;">Cloud Hosting</p>
                            </div>
                            <div class="reg_desc">
                                <p style="font-size: 18px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, quidem!</p>
                            </div>
                        </div>
                        <div class="reg_price">
                            <p style="font-size: 45px;">$5.9/month</p>
                        </div>
                        <div class="reg_btn">
                            <button class="btn orange">More Details</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="reg_detail">
                            <div class="reg_head">
                                <img src="/html_materials/awanHoster_material/cloud-sunny.png" alt="" style="margin: 0 20px;" height="40px">
                                <p style="font-size: 25px;">Cloud Hosting</p>
                            </div>
                            <div class="reg_desc">
                                <p style="font-size: 18px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, quidem!</p>
                            </div>
                        </div>
                        <div class="reg_price">
                            <p style="font-size: 45px;">$5.9/month</p>
                        </div>
                        <div class="reg_btn">
                            <button class="btn orange">More Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec5">
            <div class="div5">
                <div class="div5_lft">
                    <div class="techs" id="word" onclick="disp('Wordpress')">
                        <div class="tech_cont">
                            <img src="/html_materials/awanHoster_material/WordPress.com Logo.png" alt="" style="margin-right: 20px;" height="65px">
                            <p style="font-size: 30px;">Wordpress</p>
                        </div>
                    </div>
                    <div class="techs" id="mag" onclick="disp('magento')">
                        <div class="tech_cont">
                            <img src="/html_materials/awanHoster_material/WordPress.com Logo.png" alt="" style="margin-right: 20px;"  height="65px">
                            <p style="font-size: 30px;">Magento</p>
                        </div>
                    </div>
                    <div class="techs" id="laravel" onclick="disp('Laravel')">
                        <div class="tech_cont">
                            <img src="/html_materials/awanHoster_material/WordPress.com Logo.png" alt="" style="margin-right: 20px;" height="65px">
                            <p style="font-size: 30px;">Laravel</p>
                        </div>
                    </div>
                    <div class="techs" id="php" onclick="disp('PHP')">
                        <div class="tech_cont">
                            <img src="/html_materials/awanHoster_material/WordPress.com Logo.png" alt="" style="margin-right: 20px;" height="65px">
                            <p style="font-size: 30px;">PHP</p>
                        </div>
                    </div>
                </div>
                <div class="div5_right" id="content">
                    <div class="right_content">
                        <p style="font-size: 50px;"><b>The Best Managed Cloud<br>Hosting for Wordpress</b></p>
                    </div>
                    <div class="right_content">
                        <p style="color: grey; font-size: 25px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatem consequuntur mollitia fuga quis aliquam eaque aperiam? Soluta, obcaecati officiis.</p>
                    </div>
                    <div class="right_content">
                        <div class="tech_ben">
                            <div class="tech_row">
                                <div class="tech_col">
                                    <img src="/html_materials/awanHoster_material/Vector.png" alt="" style="margin: 0 10px;">
                                    <p style="color: grey; font-size: 25px;">Unlimited Bandwith</p>
                                </div>
                                <div class="tech_col">
                                    <img src="/html_materials/awanHoster_material/Vector.png" alt="" style="margin: 0 10px;">
                                    <p style="color: grey; font-size: 25px;">Unlimited Bandwith</p>
                                </div>
                            </div>
                            <div class="tech_row">
                                <div class="tech_col">
                                    <img src="/html_materials/awanHoster_material/Vector.png" alt="" style="margin: 0 10px;">
                                    <p style="color: grey; font-size: 25px;">Unlimited Bandwith</p>
                                </div>
                                <div class="tech_col">
                                    <img src="/html_materials/awanHoster_material/Vector.png" alt="" style="margin: 0 10px;">
                                    <p style="color: grey; font-size: 25px;">Unlimited Bandwith</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_content">
                        <button class="more orange" style="margin: 30px 160px;">More Details</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec6">
            <div class="div6">
                <div class="custs">
                    <div class="cust_con">
                        <p style="font-size: 70px;"><b>How our customers<br>feel about us</b></p>
                    </div>
                    <div class="cust_arrow">
                        <img src="/html_materials/awanHoster_material/arrow-left-50.svg" alt="" style="margin: 20px; height: 50px;" onclick="sc('pev')">
                        <img src="/html_materials/awanHoster_material/right-arrow-8.svg" alt="" style="height: 50px;" onclick="sc('next')">
                    </div>
                </div>
                <div class="cust_container">
                    <div class="custs">
                        <div class="border">
                            <div class="cust_rev">
                                <div class="av_img">
                                    <img src="/html_materials/awanHoster_material/profile.png" alt="" style="border-radius: 50%;">
                                </div>
                                <div class="star">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                </div>
                                <div class="rev_con">
                                    <p style="color: grey; font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab debitis dolore esse deserunt repellendus natus!</p>
                                </div>
                                <div class="name">
                                    <p><b>Guy Hawkins</b></p>
                                </div>
                                <div class="des">
                                    <p style="color: grey;">Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="custs">
                        <div class="border">
                            <div class="cust_rev">
                                <div class="av_img">
                                    <img src="/html_materials/awanHoster_material/profile.png" alt="" style="border-radius: 50%;">
                                </div>
                                <div class="star">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                </div>
                                <div class="rev_con">
                                    <p style="color: grey; font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab debitis dolore esse deserunt repellendus natus!</p>
                                </div>
                                <div class="name">
                                    <p><b>Guy Hawkins</b></p>
                                </div>
                                <div class="des">
                                    <p style="color: grey;">Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="custs">
                        <div class="border">
                            <div class="cust_rev">
                                <div class="av_img">
                                    <img src="/html_materials/awanHoster_material/profile.png" alt="" style="border-radius: 50%;">
                                </div>
                                <div class="star">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                </div>
                                <div class="rev_con">
                                    <p style="color: grey; font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab debitis dolore esse deserunt repellendus natus!</p>
                                </div>
                                <div class="name">
                                    <p><b>Guy Hawkins</b></p>
                                </div>
                                <div class="des">
                                    <p style="color: grey;">Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="custs">
                        <div class="border">
                            <div class="cust_rev">
                                <div class="av_img">
                                    <img src="/html_materials/awanHoster_material/profile.png" alt="" style="border-radius: 50%;">
                                </div>
                                <div class="star">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                </div>
                                <div class="rev_con">
                                    <p style="color: grey; font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab debitis dolore esse deserunt repellendus natus!</p>
                                </div>
                                <div class="name">
                                    <p><b>Guy Hawkins</b></p>
                                </div>
                                <div class="des">
                                    <p style="color: grey;">Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="custs">
                        <div class="border">
                            <div class="cust_rev">
                                <div class="av_img">
                                    <img src="/html_materials/awanHoster_material/profile.png" alt="" style="border-radius: 50%;">
                                </div>
                                <div class="star">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                    <img src="/html_materials/awanHoster_material/Star 2.png" alt="" style="margin: 1px;">
                                </div>
                                <div class="rev_con">
                                    <p style="color: grey; font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab debitis dolore esse deserunt repellendus natus!</p>
                                </div>
                                <div class="name">
                                    <p><b>Guy Hawkins</b></p>
                                </div>
                                <div class="des">
                                    <p style="color: grey;">Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec7">
            <div class="div7">
                <div class="intro_lft">
                    <div class="intro_txt">
                        <p style="font-size: 50px;"><b>Try It Now and Stop<br>Doubting Anything<br>Else.</b></p>
                    </div>
                    <div class="intro_txt">
                        <p style="font-size: 30px;">With Awan Hoster's Money Back Gaurantee, you can try the best service reliability.</p>
                    </div>
                    <div class="into_btn_cont">
                        <button class="orange into_btn">Start Free Trial</button>
                        <button class="into_btn">See All plan</button>
                    </div>
                </div>
                <div class="intro_rigth">
                    <img src="/html_materials/awanHoster_material/Group 1000008788.png" alt="">
                </div>
            </div>
        </section>
    </section>

    <footer>
        <div class="foot">
            <div class="foot_logo">
                <div class="titl">
                    <img src="/html_materials/awanHoster_material/logo-white.png" alt="" height="60px">
                </div>
                <div class="foot_cont">
                    <p style="color: rgb(255, 255, 255, 0.5); font-size: 20px;">We provide you with the best hosting<br>solution for your website.</p>
                </div>
                <div class="foot_icon">
                    <i class="fa fa-facebook" style="color: white; margin-right: 20px;"></i>
                    <i class="fa fa-twitter" style="color: white; margin-right: 20px;"></i>
                    <i class="fa fa-instagram" style="color: white; margin-right: 20px;"></i>
                    <i class="fa fa-youtube" style="color: white; margin-right: 20px;"></i>
                    <!-- <i class="fa fa-discord" style="color: white; margin-right: 20px;"></i> -->
                </div>
            </div>
            <div class="detail">
                <div class="detail_row">
                    <div class="detail_col">
                        <p style="color: white; font-size: 20px;"><b>Company</b></p>
                    </div>
                    <div class="detail_col">
                        <p style="color: white; font-size: 20px;"><b>Products</b></p>
                    </div>
                    <div class="detail_col">
                        <p style="color: white; font-size: 20px;"><b>Contact</b></p>
                    </div>
                </div>

                <div class="detail_row">
                    <div class="detail_col">
                        <p style="color: white; font-size: 18px;">About</p>
                    </div>
                    <div class="detail_col">
                        <p style="color: white; font-size: 18px;">API</p>
                    </div>
                    <div class="detail_col">
                        <p style="color: white; font-size: 18px;">Suppoprt</p>
                    </div>
                </div>

                <div class="detail_row">
                    <div class="detail_col">
                        <p style="color: white; font-size: 18px;">Blog</p>
                    </div>
                    <div class="detail_col">
                        <p style="color: white; font-size: 18px;">Pricing</p>
                    </div>
                    <div class="detail_col">
                        <p style="color: white; font-size: 18px;">Sales</p>
                    </div>
                </div>

                <div class="detail_row">
                    <div class="detail_col">
                        <p style="color: white; font-size: 18px;">Leadership</p>
                    </div>
                    <div class="detail_col">
                        <p style="color: white; font-size: 18px;">Documentation</p>
                    </div>
                    <div class="detail_col">
                        <p style="color: white; font-size: 18px;">Report Abuse</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>